.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enterprises-dialog-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.content-enterprises-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: auto;
  margin: 1em;
}

.img-enterprises-card {
  width: 130px;
  height: auto;
}

.clients-frames {
  display: flex;
  flex-direction: row;
}

.frame-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  margin: 2vh;
}

.img-client {
  width: 150px;
  height: auto;
}
